# Introduction

(escrever objetivo da atividade)

# Python

Python stands out as a high-level programming language. Beyond its versatility and ease of learning, Python boasts an extensive ecosystem, enabling the utilization of a myriad of diverse libraries.

# Modules, Packages and Libraries

A module serves as a repository of functions or methods. A package, in turn, comprises a set of modules. A library is an assembly of packages. Libraries facilitate code reusability by offering pre-built features for diverse problems, thereby obviating the necessity to repeatedly recreate identical code.
In this workshop, we will make use of the following libraries:

* numpy
* pandas
* scikit-learn
* tensorflow
* matplotlib
* seaborn
* plotl


Below are exemplified two ways of importing a library.y.st

In [1]:
import numpy as np
from numpy import array

In the first case, the library is imported in its entirety. In the second case, only a specific method is imported.

Import all the remaining libraries in their entirety.

# Dataset

A dataset is a compilation of data, encompassing not only tabular forms but also various types such as images, text, and more. A tabular dataset is composed of objects and features, a set of characteristics/variables of a specific object. Variables enable the storage and representation of values. In Python, there is no need to predefine the variable type.

Type of variables:
- string;
- numeric (integer or float);
- boolean;
- lists;
- tuples;
- dictionaries.


# pandas

According to its creators, "pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool".
(Será que é preciso explicar mais do que isto)

Types of pandas data structures:
- Series;
- Dataframes.

Series are one-dimensional arrays of data, while Dataframes are two-dimensional tabular data structures capable of storing multiple columns.

##Series

Typically, when working with simple structures like Series, one tends to use the **numpy** library.

## Dataset

In [3]:
import pandas as pd

In [4]:
opened_data = pd.read_csv("data/all_stocks_5yr.csv")

In [30]:
opened_data.head(5)

        date   open   high    low  close    volume Name  year  month  day
0 2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL  2013      2    8
1 2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL  2013      2   11
2 2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL  2013      2   12
3 2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL  2013      2   13
4 2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL  2013      2   14

- volume: number of available stock
- date: date of evaluation
- open: value at the beginning of the day
- **close**: value at the end of the day
- high: highest price in the day
- low: lowest price in the day

In [20]:
opened_data["date"] = pd.to_datetime(opened_data["date"])
opened_data["year"] = pd.DatetimeIndex(opened_data["date"]).year
opened_data["month"] = pd.DatetimeIndex(opened_data["date"]).month
opened_data["day"] = pd.DatetimeIndex(opened_data["date"]).day

## Exercise: How many different years appear in the dataset?

In [22]:
unique_years = opened_data["year"].unique()

print("Unique years", unique_years)

Unique years [2013 2014 2015 2016 2017 2018]

## Exercise: what is the percentage of rows from 2018?

In [28]:
last_year_subset = opened_data[opened_data["year"] == 2018]
print(f"Percentage of rows relative to 2018: {round((last_year_subset.shape[0] / opened_data.shape[0]) * 100, 2)} %")

Percentage of rows relative to 2018: 2.12 %

## Exercise: what is the percentage of rows for each year?

In [25]:
for current_year in unique_years:
    current_year_subset = opened_data[opened_data["year"] == current_year]
    print(f"Percentage of rows relative to {current_year}: {round((current_year_subset.shape[0] / opened_data.shape[0]) * 100, 2)} %")

Percentage of rows relative to 2013: 17.52 %
Percentage of rows relative to 2014: 19.77 %
Percentage of rows relative to 2015: 19.99 %
Percentage of rows relative to 2016: 20.24 %
Percentage of rows relative to 2017: 20.36 %
Percentage of rows relative to 2018: 2.12 %

In [32]:
len(opened_data["Name"].unique())

505

In [34]:
trimmed_data = opened_data[["close", "Name", "year"]]

In [74]:
columns = []
for current_year in unique_years:
    current_subset = trimmed_data[trimmed_data["year"] == current_year]
    grouped_current_subset = current_subset.groupby(["Name"]).mean()
    yearly_column_name = str(current_year) + "_close"
    grouped_current_subset.columns = [yearly_column_name, "year"]
    only_data_column = grouped_current_subset.drop(columns=["year"]) 

    columns.append(only_data_column)

In [75]:
reformed_df = pd.concat(columns, axis = 1)

In [77]:
reformed_df.to_csv("data/processed_stock_data.csv")